

<div class="row" style=" height: 15%; border: 3px dotted yellowgreen;">
    <i class="fa fa-caret-right" aria-hidden="true"></i>
</div>

<div class="row" style=" height: 15%; border: 3px dotted yellowgreen;">
    <i class="fa fa-caret-right" aria-hidden="true"></i>
</div>

<div class="row" style=" height: 15%; border: 3px dotted yellowgreen;">
    <i class="fa fa-flag" aria-hidden="true"></i>
</div>

<div class="row" style=" height: 15%; border: 3px dotted yellowgreen;">
    <i class="fa fa-trash" aria-hidden="true"></i>
</div>



