<div class="row" style=" height: 15%; border: 3px dotted yellowgreen;">
    <i class = "fa fa-share" style = " color: blue"></i>
</div>

<div class="row"    style=" height: 15%; border: 3px dotted yellowgreen;">
    <i class="fa fa-search" aria-hidden="true"></i>
</div>

<div class="row" style=" height: 15%; border: 3px dotted yellowgreen;">
    <i class = "fa fa-share" style = " color: blue"></i>
</div>

<div class="row" style=" height: 15%; border: 3px dotted yellowgreen;">
    <i class="fas fa-angle-double-down"></i>
</div>


