<div class="container-fluid" style="height: 100vh;">

    <div class="row" style=" height: 100%; border: 2px solid red;">
  
      <div class="col-4 " style="border:2px solid blue; background-color: lightgray; ">
           
  


              
            <div class="row" id = "tron" style=" height: 15%; border: 3px dotted black;">
              
              <div class="container-fluid" style=" border: 2px solid rgb(104, 10, 25)">
              
                  <div class="row" style=" height: 100%; border: 2px solid rgb(255, 112, 112); background-color: blueviolet;">
                  

                      <div class="col-3 d-flex align-items-center justify-content-center" style="border:2px solid blue;  ">
                          <p></p>
                          <img class="tron"src="https://i.imgur.com/WybxO5n.jpg" >
                      </div>

                      <div class="col-9 d-flex align-items-center justify-content-center" style="border:2px solid blue; background-color: lightgray; ">
                        <div><h1 style = "font-size: 20px; display: block;" > Big Chungus</h1></div>  
                        <div><p class="" style="border:2px solid blue;">bigChungus33333@aol.com</p></div>
                      </div>


                  
                  </div>
              
              </div>









            </div>



            <div class="row d-flex align-items-center justify-content-center" style=" height: 10%; border: 3px dotted aqua;">
              <button id ="boton">new message</button>

            </div>


          
            <div class="row" style=" height: 30%; border: 3px dotted aqua;">
                

                <div class="col " style="border:2px solid blue; background-color: lightgray; ">

                    <div class="row"  style=" height: 15%; border: 3px dotted aqua; color: blue">
                        <i class = "fa fa-share" style = " "></i>
                        <button (click)="goo()">kkkkkk</button>
                       
                    </div>
                   



                    <app-inbox id = "redd"
                        style= "
                        margin:0 0;
                        padding: 0 0; 
                        display: none;
                        "></app-inbox>

                </div>


            </div>




           
      </div>



      <div class="col-8 " style="border:2px solid blue; ">
          <p></p>

          <div class="center row" style=" height: 30%; border: 3px dotted aqua; height: 8%;">
                

            <div class="col " style="border:2px solid blue; ">
                <input class="glossyBtn" style=" border-radius: 10px; width: 600px;">
                <button> <img src="https://i.ya-webdesign.com/images/media-player-buttons-png-7.png" style = "width: 300px; height: 30px; "></button>
            </div> 

          </div>

          <app-comment id = "redd"
                        style= "
                        margin:0 0;
                        padding: 0 0; 
                        "></app-comment>
  
  
      </div>
    
    </div>
  
  
  </div>


<i class = "fa fa-share" style = " color: blue"></i>
<i class = "fa fa-facebook"></i>
<script src=""></script>

<!-- <img src="https://files.slack.com/files-pri/T87F8UMCL-FKL78GPC2/screen_shot_2019-06-26_at_3.25.03_pm.png" style = "width: 100vw; height: 100vh;"> -->